.item {
	position: relative; 
	text-align: center;

	margin-top : 150px;
	margin-bottom : 150px;

	font-size: x-large;
	color: black;

    text-decoration: none;
}

.index-body {
	background-color: white;
}