.index-body {
	background-color: rgb(255, 255, 255);
}

.animation-content {
	margin-top: 300px;
	margin-bottom: 1000px;
	text-align: center;

	font-size: 30px;
}

.animation-content-smooth {
	color: rgb(0, 0, 0);
	text-align: center;

	opacity: 0;
	transition: all 0.5s;
}

.animation-left {
	position: relative;
	left: 0%;
	transition: all 0.5s;
}

.hyperlink {
	text-decoration: none;
	color: blue;
	font-size: xx-large;
}