.picture-selector {
	position: relative;
	font-size: xx-large;
	background-color: rgb(171, 171, 171);
	width: 70%;

	transition: all 0.2s;
	
}

.video-selector {
	position: relative;
	/* left: 15px; */
	font-size: xx-large;
	background-color: gray;
	width: 70%;

	transition: all 0.2s;
}

.picture-selector:hover {
	background-color: rgb(255, 255, 255);
}

.video-selector:hover {
	background-color: rgb(255, 255, 255);
}